.container {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #264653;
}

.board {
  display: flex;
  width: 380px;
  flex-wrap: wrap;
  margin: 10px;
  opacity: 1;
}

.board.gameOver {
  opacity: 0.3;
}

.cell {
  width: 120px;
  height: 120px;
  background-color: white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #000;

}

.cell:hover {
  background-color: rgba(0, 0, 0, 0.0005);
}

.cell.O,
.cell.X {
  cursor: not-allowed;
}

.cell.O {
  background-color: #2196f3;
}

.cell.X {
  background-color: #f44336;
}

.winnerMensagem span.O {
  color: #2196f3;
}

.winnerMensagem span.X {
  color: #f44336;
}

button {
  background-color: #4caf50;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  color: white;
  position: relative;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
}


p {
  font-size: 30px;
  font-weight: 500;
}

.localStorage {
  color: #000;
  align-items: center;
  position: relative;
  justify-content: center;
}

.colorO {
  color: #2196f3;
}

.colorX {
  color: #f44336;
}

.colorEmpate {
  color: #FF7F00;
}

.Pontos {
  font-size: 12px;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #4962B3;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.45);
}