* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
  background-color: #eee;
}

.titulo {
  text-align: center;
  font-size: 3rem;
  color: #555;
  margin-bottom: 2rem;
}

.borda {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-template-rows: repeat(3, 200px);
  gap: 1rem;
}

.borda.fim {
  opacity: 0.8;
}

.quadrado {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: bold;
  color: #00000066;
  cursor: pointer;

}

.quadrado:not(.O):not(.X):hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5), 0 10px -5px rgba(0, 0, 0, 0.4);
}

.quadrado.O,
.quadrado.X,
.fim .quadrado {
  cursor: not-allowed;
}

.quadrado.O {
  background-color: #2196f3;
}

.quadrado.X {
  background-color: #f44336;
}

footer {
  text-align: center;
}

.MsgVencedor {
  margin: 2rem;
}

.MsgVencedor span.O {
  color: #2196f3;
}

.MsgVencedor span.X {
  color: #f44336;
}

.MsgVencedor span.E {
  color: #777;
}

button {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px o rgba(0, 0, 0, 0.06);
  background-color: #4caf50;
  color: white;
  font-size: 1.2rem;
}